button.btn {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  display: block;
  width: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  border: 2px solid transparent;
}
@media screen and (min-width: 752px) {
  button.btn {
    display: inline-block;
    width: auto;
  }
}

button.btn:hover {
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn.btn--primary {
  background: var(--pink-1);
  color: var(--white);
}

.btn.btn--primary:hover {
  background: var(--pink-2);
}

.btn.btn--icon svg {
    vertical-align: middle;
    margin-left: 1rem;
}
