img {
  display: block;
  width: 100%;
}

.flex {
  display: flex;
}

.flex.middle {
  align-items: center;
}

.flex.base {
  align-items: baseline;
}

.flex.between {
  justify-content: space-between;
}

.light-text {
  color: var(--white);
}
